
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Additional Tools</h2>
<form id="RemoveDuplicateForm" method="post" action="/" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal mb-3">
        <div class="row">
            <div class="col-md-8">
                <div class="card panel-default">
                    <h5 class="card-header">Xử lý trùng file DBF, Chọn tệp .dbf</h5>
                    <div class="card-body">
                        <div class="asterisk row">
                            <div class="col-md-6 mb-2">
                                <input type="text" class="form-control" name="PrimeryKey" value="account" />
                            </div>
                            <div class="col-md-6 mb-2">
                                <input type="text" class="form-control" name="ExtraValue" value="ma_dvi" />
                            </div>
                        </div>
                        <div class="">
                            <label class="pull-right col-md-6" for="IsExtraValue">
                                <input id="IsExtraValue" type="checkbox" name="IsExtraValue" value="true" />
                                Use extra check
                            </label>
                        </div>
                        <div class="clearfix mb-2"></div>
                        <div class="custom-file asterisk">
                            <input type="file" name="FileUpload" class="FileUpload custom-file-input" lang="vi" data-val="true"
                                   data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                            <label class="custom-file-label" for="FileUpload">Chọn file</label>
                            <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-12 lblUpload"><span class="text-danger">Vui lòng chọn tệp!</span></div>
                        @*<div class="form-group col-md-12">
                                <input type="file" id="FileUpload" name="FileUpload" class="file-upload" multiple data-val="true"
                                       data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card panel-default">
                    <h5 class="card-header">Xử lý</h5>
                    <div class="card-body">
                        @*<div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Tải tệp DBF" class="btn btn-primary" />
                                </div>
                            </div>*@
                        <div class="col-md-12">
                            <div class="form-group"><a href="javascript:;" class="btn btn-secondary btnAction" data-url="@Url.Action("RemoveDuplicate")">Xóa trùng</a></div>
                            <div class="form-group"><a href="javascript:;" class="btn btn-secondary btnAction" data-url="@Url.Action("GetDuplicate")">Lấy trùng</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clearfix"></div>
<form action="@Url.Action("Upload")" met method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8">
            <div class="card panel-primary">
                <h5 class="card-header">Tùy chọn thông số</h5>
                <div class="card-body">
                    <div class="col-md-6 row">
                        <h4 class="form-group col-md-12">Tải tệp</h4>
                        <div class="form-group col-md-12 asterisk">
                            <div class="custom-file asterisk">
                                <input type="file" class="FileUpload custom-file-input" lang="vi" data-val="true"
                                       data-val-required="Vui lòng chọn file" />
                                <label class="custom-file-label" for="FileUpload">Chọn file</label>
                                <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                            </div>
                            <a href="javascript:;" data-url="@Url.Action("GeneralUpload")" class="btn btn-primary btnAction">Tải File lên hệ thống</a>
                        </div>
                        <div class="form-group col-md-12 lblUpload"></div>
                    </div>
                    <div class="col-md-6 row">
                        <h4 class="form-group col-md-12">Tháng thực hiện</h4>
                        <div class="form-group col-md-12">
                            <label for="ckhMerginMonth">
                                <input type="checkbox" id="ckhMerginMonth" checked /><!--name="ckhMerginMonth" value="1"-->
                                Ghép theo tháng hiện tại
                            </label>
                        </div>
                        <div class="col-md-12 row">
                            <label class="col-md-6">Chọn tháng</label>
                            <div class="col-md-6">
                                <select id="time" class="form-control" name="time">
                                    @foreach (var item in (List<string>)ViewBag.directory)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <label id="lblTime"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card panel-primary">
                <h5 class="card-header">Xử lý</h5>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-group"><a href="javascript:;" data-url="@Url.Action("ImportGDSExcel")" class="btn btn-secondary btnAction">Nhập File GDS Excel</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clearfix"></div>
@section scripts {
    <script>
        AjaxLoaddingBounce();
        function MerginMonth() {
            if ($('#ckhMerginMonth').prop('checked') == true) {
                var date = new Date();
                date.setMonth(date.getMonth() - 1);
                var month = date.getMonth() + 1;
                month = month < 10 ? '0' + month : month + '';
                var year = date.getFullYear();
                $('select[name="time"]').hide();
                $('#lblTime').html(year + month).show();
            } else {
                $('select[name="time"]').show();
                $('#lblTime').hide();
            }
        };
        $(function () {
            MerginMonth();
        });
        $('#ckhMerginMonth').on('click', function () {
            MerginMonth();
        });
        $('#FileUpload').on('change', function () {
            var files = this.files;
            var html = '';
            for (var i = 0; i < files.length; i++) {
                html += '<span class="text-primary">' + (i + 1) + '. ' + files[i].name + '</span><br/>';
            }
            $('.lblUpload').html(html);
        });
        //function ActionLink(obj) {
        //    var formdata = new FormData($('form')[0]);
        //    for (var i in obj.data)
        //        formdata.append(i, obj.data[i]);
        //    //obj.data = $.extend({}, { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }, obj.data);
        //    $.ajax({
        //        url: obj.url,
        //        type: 'POST',
        //        dataType: 'json',
        //        data: formdata,
        //        cache: false,
        //        contentType: false,
        //        processData: false,
        //        success: function (d) {
        //            if (d.success)
        //                $('#TMAlert').TMAlert({ type: "success", message: d.success });
        //            if (d.danger)
        //                $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
        //            $('#FileUpload').val('');
        //            $('.lblUpload').html('');
        //            if (d.url)
        //                window.location = d.url;
        //        },
        //        error: function (xhr, error, status) {
        //            $('#TMAlert').TMAlert({ type: "danger", message: window.location.protocol + '//' + window.location.host + this.url + ' is ' + xhr.status + ' ' + xhr.statusText });
        //            //console.log(error, status);
        //        }
        //    });
        //};
        //Action link
        $('.btnAction').on('click', function (e) {
            e.preventDefault();
            ActionLink({ url: $(this).attr('data-url'), data: { data_id: $(this).attr('data-id') } });
        });
    </script>
}