@{
    ViewBag.Title = "Xử lý chung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3 class="col-md-12">Xử lý chung</h3>*@
<form action="@Url.Action("Upload")" met method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="option-tab" data-toggle="tab" href="#option" role="tab" aria-controls="Option" aria-selected="true">Cấu hình</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="importData-tab" data-toggle="tab" href="#importData" role="tab" aria-controls="ImportData" aria-selected="true">Nhập dữ liệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="actionBilling-tab" data-toggle="tab" href="#actionBilling" role="tab" aria-controls="ActionBilling" aria-selected="false">Tính cước</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="createBilling-tab" data-toggle="tab" href="#createBilling" role="tab" aria-controls="CreateBilling" aria-selected="false">Hóa đơn</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="option" role="tabpanel" aria-labelledby="option-tab">
                    <div class="card mb-3 mt-1">
                        <h5 class="card-header">Tùy chọn thông số</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-3">Chọn tháng</label>
                                            <div class="col-md-6">
                                                <select id="time" class="form-control" name="time">
                                                    @foreach (var item in (List<string>)ViewBag.directory)
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </select>
                                                <label id="lblTime"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<h5 class="form-group">Tháng thực hiện</h5>*@
                                        <div class="form-group">
                                            <label class="mr-3" for="ckhMerginMonth">
                                                <input type="checkbox" id="ckhMerginMonth" checked /><!--name="ckhMerginMonth" value="1"-->
                                                Ghép theo tháng hiện tại
                                            </label>
                                            <label class="mr-3">
                                                <input type="checkbox" name="ckhTCVN3" value="true" checked />
                                                Định dạng TCVN3
                                            </label>
                                            <label class="mr-3">
                                                <input type="checkbox" name="ckhZipFile" value="true" checked />
                                                Nén Zip
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="importData" role="tabpanel" aria-labelledby="importData-tab">
                    <div class="row">
                        <div class="col-md-6 mt-1">
                            <div class="card mb-3 panel-success">
                                <h5 class="card-header">I. Nhập data Mytv</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContact","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật danh bạ</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContactNULL","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">2. Cập nhật danh bạ NULL</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateData","MyTV")" class="btn btn-success mb5 w49percent btnAction">3. Cập nhật data</a>
                                </div>
                            </div>
                            <div class="card mb-3 panel-success">
                                <h5 class="card-header">III. Nhập data Cố định</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContact","CoDinh")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật danh bạ</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContactNULL","CoDinh")" class="btn btn-secondary w49percent mb5 btnAction">2. Cập nhật danh bạ NULL</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateData","CoDinh")" class="btn btn-success mb5 w49percent btnAction">3. Cập nhật data</a>
                                </div>
                            </div>
                            <div class="card mb-3 panel-success">
                                <h5 class="card-header">II. Nhập data TSL</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContactData","TSL")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật danh bạ và data</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateTTHD","TSL")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật trạng thái hợp đồng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-1">
                            <div class="card mb-3 panel-success">
                                <h5 class="card-header">II. Nhập data Internet</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContact","Internet")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật danh bạ</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContactNULL","Internet")" class="btn btn-secondary w49percent mb5 btnAction">2. Cập nhật danh bạ NULL</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateData","Internet")" class="btn btn-success mb5 w49percent btnAction">3. Cập nhật data</a>
                                </div>
                            </div>
                            <div class="card mb-3 panel-success">
                                <h5 class="card-header">IV. Nhập data Di động</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContact","DiDong")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật danh bạ</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateContactNULL","DiDong")" class="btn btn-secondary w49percent mb5 btnAction">2. Cập nhật danh bạ NULL</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdateData","DiDong")" class="btn btn-success mb5 w49percent btnAction">3. Cập nhật data</a>
                                </div>
                            </div>
                            <div class="card mb-3 panel-success">
                                <h5 class="card-header">V. Xử lý thuê bao tích hợp</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("LayTichHop")" class="btn btn-secondary mb5 w49percent btnAction">1. Lấy danh sách biến động tích hợp</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyHuyTichHop")" class="btn btn-secondary mb5 w49percent btnAction">2. Xử lý hủy tích hợp</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyTichHop")" class="btn btn-secondary mb5 w49percent btnAction">3. Xử lý biến động tích hợp</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyTichHopToanBo")" class="btn btn-warning mb5 w49percent btnAction">Xử lý Tích hợp toàn bộ thuê bao</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="actionBilling" role="tabpanel" aria-labelledby="actionBilling-tab">
                    <div class="row">
                        <div class="col-md-6 mt-1">
                            <div class="card mb-3 panel-primary">
                                <h5 class="card-header">Tính cước MyTV</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("XuLyTichHop","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">1. Xử lý tích hợp</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyKhuyenMai","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">2. Xử lý khuyến mại</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyThanhToanTruoc","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">3. Xử lý thanh toán trước</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyThanhToanTruocFix","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">4. Xử lý thanh toán trước fix</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyDatCoc","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">5. Xử lý đặt cọc</a>
                                    @*<a href="javascript:;" data-url="@Url.Action("XuLyCuocFix","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">5. Xử lý cước Fix</a>*@
                                    @*<a href="javascript:;" data-url="@Url.Action("XuLyCuocMergin","MyTV")" class="btn btn-secondary mb5 w49percent btnAction">6. Xử lý cước ghép</a>*@
                                </div>
                            </div>

                            <div class="card mb-3 panel-primary">
                                <h5 class="card-header">Tính cước TSL</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("UpdateUseDay","TSL")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật ngày sử dụng</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdatePrice","TSL")" class="btn btn-secondary mb5 w49percent btnAction">2. Cập nhật giá từ bảng giá</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyTichHop","TSL")" class="btn btn-secondary mb5 w49percent btnAction">3. Xử lý tích hợp</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-1">
                            <div class="card mb-3 panel-primary">
                                <h5 class="card-header">Tính cước Internet</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("UpdateUseDay","Internet")" class="btn btn-secondary mb5 w49percent btnAction">1. Cập nhật ngày sử dụng</a>
                                    <a href="javascript:;" data-url="@Url.Action("UpdatePrice","Internet")" class="btn btn-secondary mb5 w49percent btnAction">2. Cập nhật giá từ bảng giá</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyTichHop","Internet")" class="btn btn-secondary mb5 w49percent btnAction">3. Xử lý tích hợp</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyCuocData","Internet")" class="btn btn-secondary mb5 w49percent btnAction">4. Xử lý cước data GD</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyKhuyenMai","Internet")" class="btn btn-secondary mb5 w49percent btnAction">5. Xử lý khuyến mại</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyManu","Internet")" class="btn btn-secondary mb5 w49percent btnAction">6. Xử lý Thuê bao Manu</a>
                                    @*<a href="javascript:;" data-url="@Url.Action("XuLyCuocFix","Internet")" class="btn btn-secondary mb5 w49percent btnAction">8. Xử lý cước Fix</a>*@
                                    <a href="javascript:;" data-url="@Url.Action("XuLyCuocMergin","Internet")" class="btn btn-secondary mb5 w49percent btnAction">7. Xử lý cước ghép</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyGhepHDNET","Internet")" class="btn btn-success mb5 w49percent btnAction">8. Ghép Mega - Fiber - Fiber GD</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyThanhToanTruoc","Internet")" class="btn btn-secondary mb5 w49percent btnAction">9. Xử lý thanh toán trước</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyThanhToanTruocFix","Internet")" class="btn btn-secondary mb5 w49percent btnAction">10. Xử lý thanh toán trước fix</a>
                                    <a href="javascript:;" data-url="@Url.Action("XuLyGanCuocIn","Internet")" class="btn btn-warning mb5 w49percent btnAction">11. Gán cước In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="createBilling" role="tabpanel" aria-labelledby="createBilling-tab">
                    <div class="row">
                        <div class="col-md-6 mt-1">
                            <div class="card mb-3 panel-primary">
                                <h5 class="card-header">Ghép hóa đơn</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("MerginBill")" class="btn btn-secondary mb5 w49percent btnAction">Ghép hóa đơn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-1">
                            <div class="card mb-3 panel-primary">
                                <h5 class="card-header">Hóa đơn điện tử</h5>
                                <div class="card-body">
                                    <a href="javascript:;" data-url="@Url.Action("ProcessingHDDT")" class="btn btn-success mb5 w49percent btnAction">Xử lý hóa đơn điện tử</a>
                                    <div class="mb5 w49percent"></div>
                                    <a href="javascript:;" data-url="@Url.Action("CreateHDFile")" class="btn btn-secondary mb5 w49percent btnAction">Tạo file hóa đơn</a>
                                    <a href="javascript:;" data-url="@Url.Action("CreateKHFile")" class="btn btn-secondary mb5 w49percent btnAction">Tạo file khách hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clearfix"></div>
@section scripts {
    <script>
        AjaxLoaddingBounce();
        function MerginMonth() {
            if ($('#ckhMerginMonth').prop('checked') == true) {
                var date = new Date();
                date.setMonth(date.getMonth() - 1);
                var month = date.getMonth() + 1;
                month = month < 10 ? '0' + month : month + '';
                var year = date.getFullYear();
                $('select[name="time"]').hide();
                $('#lblTime').html(year + month).show();
            } else {
                $('select[name="time"]').show();
                $('#lblTime').hide();
            }
        };
        $(function () {
            MerginMonth();
        });
        $('#ckhMerginMonth').on('click', function () {
            MerginMonth();
        });
        $('#FileUpload').on('change', function () {
            var files = this.files;
            var html = '';
            for (var i = 0; i < files.length; i++) {
                html += '<span class="text-primary">' + (i + 1) + '. ' + files[i].name + '</span><br/>';
            }
            $('.lblUpload').html(html);
        });
        //function ActionLink(obj) {
        //    obj.e.preventDefault();
        //    var formdata = new FormData($('form')[0]);
        //    for (var i in obj.data)
        //        formdata.append(i, obj.data[i]);
        //    //obj.data = $.extend({}, { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }, obj.data);
        //    $.ajax({
        //        url: obj.url,
        //        type: 'POST',
        //        dataType: 'json',
        //        data: formdata,
        //        cache: false,
        //        contentType: false,
        //        processData: false,
        //        success: function (d) {
        //            if (d.success) {
        //                $('#TMAlert').TMAlert({ type: "success", message: d.success });
        //                $("form")[0].reset();
        //            }
        //            if (d.danger)
        //                $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
        //            if (d.warning)
        //                $('#TMAlert').TMAlert({ type: "warning", message: d.warning });
        //            if (d.url)
        //                window.location = d.url;
        //        },
        //        error: function (xhr, error, status) {
        //            $('#TMAlert').TMAlert({ type: "danger", message: window.location.protocol + '//' + window.location.host + this.url + ' is ' + xhr.status + ' ' + xhr.statusText });
        //            //console.log(error, status);
        //        }
        //    });
        //};
        //Action link
        $('.btnAction').on('click', function (e) {
            ActionLink({
                e: e,
                url: $(this).attr('data-url'),
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //Fix, ghép cước
        $('.XuLyFixMergin').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("XuLyFixMerginCuoc")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked'), type_id: $(this).attr('data-val') },
                dat
            });
        });
    </script>
}