
@{
    ViewBag.Title = "Tính cước MyTV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="col-md-12">Tính cước MyTV</h3>
<br /><br />
<form action="@Url.Action("Upload")" met method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tùy chọn thông số</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6 row">
                    <h4 class="form-group col-md-12">Tải tệp</h4>
                    <div class="form-group col-md-12 asterisk">
                        <label for="FileUpload" class="btn btn-warning">
                            Chọn File
                            <input type="file" id="FileUpload" name="FileUpload" class="file-upload hidden" multiple data-val="true"
                                   data-val-required="Vui lòng chọn file" data-rule-extension="dbf" data-msg-extension="Định dạng tệp phải là dbf." />
                            <span class="field-validation-valid text-danger" data-valmsg-for="FileUpload" data-valmsg-replace="true"></span>
                        </label>
                        <a id="btnUpload" href="javascript:;" class="btn btn-primary">Tải File lên hệ thống</a>
                    </div>
                    <div class="form-group col-md-12 lblUpload"></div>
                </div>
                <div class="col-md-6 row">
                    <h4 class="form-group col-md-12">Tháng thực hiện</h4>
                    <div class="form-group col-md-12">
                        <label for="ckhMerginMonth">
                            <input type="checkbox" id="ckhMerginMonth" checked /><!--name="ckhMerginMonth" value="1"-->
                            Ghép theo tháng hiện tại
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6 row">Chọn tháng</label>
                        <div class="col-md-6">
                            <select id="time" class="form-control" name="time">
                                @foreach (var item in (List<string>)ViewBag.directory)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <label id="lblTime"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Xử lý</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group"><a id="UpdateContact" href="javascript:;" class="btn btn-default">2.1. Cập nhật danh bạ</a></div>
                    <div class="form-group"><a id="UpdateContactNULL" href="javascript:;" class="btn btn-default">2.2. Cập nhật danh bạ NULL</a></div>
                    <div class="form-group"><a id="XuLyTichHop" href="javascript:;" class="btn btn-default">3. Xử lý tích hợp</a></div>
                    <div class="form-group"><a id="XuLyKhuyenMai" href="javascript:;" class="btn btn-default">4. Xử lý khuyến mại</a></div>
                    <div class="form-group"><a id="XuLyThanhToanTruoc" href="javascript:;" class="btn btn-default">5. Xử lý thanh toán trước</a></div>
                    <div class="form-group"><a id="XuLyDatCoc" href="javascript:;" class="btn btn-default">6. Xử lý đặt cọc</a></div>
                    <div class="form-group"><a id="XuLyCuocFix" href="javascript:;" class="btn btn-default">7. Xử lý cước Fix</a></div>
                    <div class="form-group"><a id="XuLyCuocMergin" href="javascript:;" class="btn btn-default">8. Xử lý cước ghép</a></div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clearfix"></div>
@section scripts {
    <script>
        AjaxLoad();
        function MerginMonth() {
            if ($('#ckhMerginMonth').prop('checked') == true) {
                var date = moment();
                var month = parseInt(date.format('MM')) - 1;
                month = month < 10 ? '0' + month : month + '';
                var year = date.format('YYYY');
                $('select[name="time"]').hide();
                $('#lblTime').html(year + month).show();
            } else {
                $('select[name="time"]').show();
                $('#lblTime').hide();
            }
        };
        $(function () {
            MerginMonth();
        });
        $('#ckhMerginMonth').on('click', function () {
            MerginMonth();
        });
        $('#FileUpload').on('change', function () {
            var files = this.files;
            var html = '';
            for (var i = 0; i < files.length; i++) {
                html += '<span class="text-primary">' + (i + 1) + '. ' + files[i].name + '</span><br/>';
            }
            $('.lblUpload').html(html);
        });
        function ActionLink(obj) {
            obj.e.preventDefault();
            var formdata = new FormData($('form')[0]);
            for (var i in obj.data)
                formdata.append(i, obj.data[i]);
            //obj.data = $.extend({}, { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }, obj.data);
            $.ajax({
                url: obj.url,
                type: 'POST',
                dataType: 'json',
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                success: function (d) {
                    if (d.success)
                        $('#TMAlert').TMAlert({ type: "success", message: d.success });
                    if (d.danger)
                        $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
                    $('#FileUpload').val('');
                    $('.lblUpload').html('');
                },
                error: function (xhr, error, status) {
                    $('#TMAlert').TMAlert({ type: "danger", message: window.location.protocol + '//' + window.location.host + this.url + ' is ' + xhr.status + ' ' + xhr.statusText });
                    //console.log(error, status);
                }
            });
        };
        //GeneralUpload
        $('#btnUpload').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("GeneralUpload")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked'), file:'ThanhToanTruoc' }
            });
        });
        //UpdateBill
        $('#UpdateBill').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("UpdateBill")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //UpdateContact
        $('#UpdateContact').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("UpdateContact")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //UpdateContactNULL
        $('#UpdateContactNULL').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("UpdateContactNULL")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //UpdateUseDay
        $('#UpdateUseDay').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("UpdateUseDay")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //Xử lý tích hợp
        $('#XuLyTichHop').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("XuLyTichHop")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //Xử lý khuyến mại giảm giá
        $('#XuLyKhuyenMai').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("XuLyKhuyenMai")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //Xử lý thanh toán trước
        $('#XuLyThanhToanTruoc').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("XuLyThanhToanTruoc")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        $('#XuLyDatCoc').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("XuLyDatCoc")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //Xử lý cước fix
        $('#XuLyCuocFix').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("XuLyCuocFix")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
        //Xử lý cước ghép
        $('#XuLyCuocMergin').on('click', function (e) {
            ActionLink({
                e: e,
                url: '@Url.Action("XuLyCuocMergin")',
                data: { time: $('#time').val(), ckhMerginMonth: $('#ckhMerginMonth').prop('checked') }
            });
        });
    </script>
}